/*producto*/
.productContainer{
    display: flex;
    width: 100%;
    min-height: 100%;
    padding: 5%;
    padding-top: 0%;
    justify-content: center;
}

.productContainer .productData{
    width: 35%;
    padding: 3%;
    padding-right: 0;
}

.productContainer .productData .header{
  display: flex;
  position: relative;
}

.productContainer .productData .header h6{
  width: 65%;
  font-size: smaller;
  font-weight: 300;
}

.productContainer .productData .valoration{
  width: 30%;
  display: contents;
  height: 30px;
}

.productContainer .productData .valoration .a{
  width: auto;
  position: absolute;
  right: 0;
  display: flex;
}

.productContainer .productData .valoration .a svg{
  width: 15px;
  height: 15px;
  fill: black;
}

.productContainer .productData .valoration .b{
  display: none;
  margin-top: 2px;
}

.productContainer .productData .price h1{
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 800;
    overflow: hidden;
    width: 100%;
}

.productContainer .productData .price h3{
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.productContainer .productData h5{
  font-size: large;
  margin-top: 5%;
  font-weight: 700;
  text-transform: uppercase;
}

.cont .section{
  border-top: solid #bfbfbfde 1px;
  width: 100%;
  margin-top: 5%;
}

.productContainer .productData .colours .productsC{
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.productContainer .productData .colours .productsC .product{
  width: 60px;
  height: 100px;
  display: inline-block;
  margin-right: 2%;
  margin-top: 2%;
  background-color: #f6f6f6;
}

.productContainer .productData .colours .productsC .borderr{
  border: 2px solid black;
}

.productContainer .productData .colours .productsC .product :active{
  border: 1px solid black;
}

.productContainer .productData .colours .productsC .product img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productContainer .productData .size .guia{
  color: #d8d8d8d4;
  text-align: right;
  right: 0;
  position: absolute;
}

.productContainer .productData .size .sizes{
  list-style-type: none;
  padding: 0;
  margin-top: 5%;
}

.productContainer .productData .size .sizes label{
  display: inline-block;
  width: 16%;
  height: 7%;
  border: solid rgb(168, 168, 168) 1px;
  font-size: large;
  font-family: sans-serif;
  text-align: center;
  padding-top: 2%;
  transition: all .5s;
  border-radius: 8px;
}

.productContainer .productData .size .soldOut{
  background-color: rgb(247, 247, 247);
  color:rgb(221, 221, 221);
}

.productContainer .productData .size .sizes label:hover{
  background-color: black;
  color: white;
}

.productContainer .productData .size .sizes label:active{
  background-color: black;
  color: white;
}

.productContainer .productData .button{
  width: 80%;
  border-radius: 10px;
  background-color: black;
  height: 10%;
  text-transform: uppercase;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: transparent;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 7%;
}

.productContainer .productData .button svg{
  width: 20px;
  height: 20px;
}

.productContainer .productData .size .sas{
  position: relative;
}

.cont .description{
  width: 100%;
  height: auto;
  padding: 5%;
}

.cont .description .data h1{
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 800;
  overflow: hidden;
  width: 100%;
}

.cont .description .data h3{
  text-transform: uppercase;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 4px;
  overflow: hidden;
  width: 100%;
}

.cont .description .data p{
  letter-spacing: 2px;
}

.cont .description .image img{
  width: 100%;
  object-fit: contain;
  height: auto;
  max-height: 450px;
}

.cont .userSection{
  transition: all 1s;
}

.cont .userSection .sec{
  list-style-type: none;
  padding: 5%;
}

.cont .userSection .sect{
  position: relative;
  border-bottom: #4e4e4e solid 2px;
  margin-bottom: 5%;
}

.cont .userSection .sect .header{
  position: relative;
  display: flex;
}

.cont .userSection .sect .header h5{
  font-size: large;
  margin-top: 5%;
  font-weight: 700;
  text-transform: uppercase
}
  
.cont .userSection .sect .header svg{
  position: absolute;
  right: 0;
  width: 20px;
  bottom: 10px;
  height: 20px;;
}

.cont .userSection .sec .sect .review ul{
  list-style-type: none;
  padding: 5%;
}

.cont .userSection .sec .sect .review ul li{
  border-top: 1px solid grey;
}

.cont .userSection .sec .sect .review ul li .headere{
  display: flex;
  position: relative;
}

.cont .userSection .sec .sect .review ul li .headere .left{
  width: 80%;
  font-size: 15px;
  color: rgb(158, 158, 158);
}

.cont .userSection .sec .sect .review ul li .headere .left h5{
  display: inline-block;
  font-size: 15px;
}

.cont .userSection .sec .sect .review ul li .headere .left span{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: black;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.cont .userSection .sec .sect .review ul li .headere .left h6{
  display: inline-block;
  font-size: 15px;
}

.cont .userSection .sec .sect .review ul li .headere .valoration{
  min-width: 112px;
  min-height: 24px;
}

.cont .userSection .sec .sect .review ul li .headere .valoration .vvv{
  position: relative;
}

.cont .userSection .sec .sect .review ul li .headere .valoration .a{
  position: absolute;
  right: 0;
}

.cont .userSection .sec .sect .review ul li .body h1{
  font-size: larger;
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cont .userSection .sec .sect .review ul li .body p{
  margin-top: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}

.cont .userSection .sec .sect .review ul .circle{
  border: none;
}

.cont .userSection .sec .sect .review .circle svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
  fill: rgb(158, 158, 158);
  transition: all .5s;
}

.cont .userSection .sec .sect .review .circle svg:hover{
  fill: black;
}

/*carrousel*/
  #cr{
    display: block;
    width: 100%;
    height: 80%;
    margin: auto;
    position: relative;
    margin-top: 2%;
    box-shadow: 0px 2px 10px 4px #8888888c;
  }

  #cr .like{
    padding: 3%;
    border-radius: 100%;
    right: 5%;
    top: 3%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.508);
  }

  #cr .like svg{
    width: 20px;
    height: 20px;
  }
  
  #imagesCarrousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #points{
    z-index: 1;
    margin-top: -4%;
    text-align: center;
    position: absolute;
    bottom: 2%;
    width: 100%;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: white;
  }
  
  #adelante{
    float: right;
  }
  
  #atras{
    float: left;
  }
  
  #rey{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 12%;
  }

  #rey svg{
    height: 100%;
    width: 12%;
    background-color: #ffffff82;
  }

  #rey svg:hover{
    background-color: #ffffffda;
  }
  /*productos relacionados*/
  .relatedProducts{
    width: 100%;
    padding: 5%;
    padding-bottom: 2%;
    margin-bottom: 10%;
    position: relative;
  }

  .relatedProducts h2{
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 800;
  }

  .products12{
    position: relative;
  }

  .products{
    display: -webkit-inline-box;
    overflow: hidden;
    width: 100%;
    height: 43%;
    margin-top: 4%;
  }

  .products12 .productCont{
    width: 20%;
    height: 100%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    display: none;
  }

  .products12 .visiblePX{
    display: block;
  }

  .products12 .productCont .product{
    width: 100%;
    height: 80%;
    padding: 5%;
    margin-bottom: 5px;
    background-color: #e7e7e7;
  }

  .products12 .productCont .product img{
    width: 100%;
    object-fit: contain;
    height: 100%;
  }

  

  .products12 .productCont .productC{
    width: 100%;
    height: 80%;
    margin-bottom: 5px;
    background-color: #e7e7e7;
  }

  .products12 .productCont .productC img{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .products12 .productCont .productDetail{
      padding-left: 4%;
  }

  .products12 .productCont .productDetail .desc{
    display: flex;
    width: fit-content;
  }
  
  .products12 .productCont .productDetail .desc h4{
    text-decoration: line-through;
    color: #7d7d7d;
  }
  
  .products12 .productCont .productDetail .desc h5{
    font-size: 15px;
    padding-left: 8px;
  }

  .products12 .productCont .productDetail h4{
    font-size: 15px;
    text-align: left;
    color: black;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .products12 .productCont .productDetail h6{
    font-size: 14px;
    text-align: left;
    color: #7d7d7d;
  }

  .products12 .productCont2 .product{
    width: 100%;
    height: 80%;
    padding: 5%;
    margin-bottom: 5px;
    background-color: #e7e7e7;
  }

  .products12 .productCont2 .product img{
    width: 100%;
    object-fit: contain;
    height: 100%;
  }

  .products12 .productCont2 .productC{
    width: 100%;
    height: 80%;
    margin-bottom: 5px;
    background-color: #e7e7e7;
  }

  .products12 .productCont2 .productC img{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .products12 .productCont2 .productDetail{
      padding-left: 4%;
  }

  .products12 .productCont2 .productDetail .desc{
    display: flex;
    width: fit-content;
  }
  
  .products12 .productCont2 .productDetail .desc h4{
    text-decoration: line-through;
    color: #7d7d7d;
  }
  
  .products12 .productCont2 .productDetail .desc h5{
    font-size: 15px;
    padding-left: 8px;
  }

  .products12 .productCont2 .productDetail h4{
    font-size: 15px;
    text-align: left;
    color: black;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .products12 .productCont2 .productDetail h6{
    font-size: 14px;
    text-align: left;
    color: #7d7d7d;
  }

  .products12 .productCont2{
    width: 20%;
    height: 100%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    display: none;
  }

  .arrows12{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 12%;
    z-index: 2;
  }

  .arrows12 svg{
    height: 100%;
    width: 50%;
    display: block;
    margin: auto;
  }

  .back12:hover{
    background-color: white;
  }
  
  .foward12:hover{
    background-color: white;
  }

  .back12{
    position: absolute;
    left: 5;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: all .5s;
    background-color: rgba(255, 255, 255, 0.842);
  }

  .foward12{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5;
    border-radius: 100%;
    transition: all .5s;
    background-color: rgba(255, 255, 255, 0.842);
  }

  .puntos12{
    z-index: 1;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 90%;
  }
  
  .puntos12 .dot{
    cursor: pointer;
    height: 2px;
    width: 20px;
    margin: 2px 2px;
    background-color: rgb(143, 143, 143);
    display: inline-block;
    border-radius: 0%;
    transition: all .3s;
  }

  .puntos12 .selected{
    height: 5px;
    background-color: black;  
  }

  .products12 .visiblePX2{
    display: block;
  }  

  @media (max-width: 650px){   
    .productContainer{
      display: block;
      padding: 0;
    }
    .productContainer .productData{
      width: 100%;
      margin-top: 20px;
      padding: 6%;
    }

    #cr{
      width: 100%;
      margin-top: 0;
    }

    .products12 .productCont{
        width: 50%;
    }

    .products12 .productCont2{
      width: 50%;
    }
    
    .relatedProducts{
        padding-bottom: 8%;
    }
    
    .productContainer .productData .size .sizes label{
      width: 50px;
      height: 45px;
    }
    
    .cont .userSection .sec .sect .review ul li{
      padding-top: 7%;
      padding-bottom: 7%;
    }

    #cr .like{
      top: 10%;
    }
  }
  
  @media (min-width: 951px){
    .productContainer .productData{
        width: 30%;
        padding-top: 5%;
    }

    .products12{
      margin-bottom: 25px;
    }

    .ppp{
      height: 100vh;
      width: 70%;
    }

    #cr{
      margin-top: 7%;
    }

    #rey{
      height: 8%;
    }

    .productContainer .productData .valoration{
      display: block;
    }
    
    .productContainer .productData .valoration .a{
      right: 5%;
    }

    .productContainer .productData .size .sas{
      position: initial;
    }

    .productContainer .productData .size .sizes label{
      width: 24%;
    }

    .productContainer .productData .size .guia {
      color: #d8d8d8d4;
      text-align: right;
      bottom: -25px;
      position: absolute;
      right: 0;
      font-size: smaller;
    }

    .productContainer .productData .button{
      margin-top: 15%;
    }
    
    .cont .userSection .description{
      display: flex;
    }

    .cont .userSection .sect{
      margin-bottom: 0;
    }

    .cont .description{
      display: flex;
    }

    .cont .description .data{
      width: 50%;
    }

    .cont .description .image{
      width: 50%;
    }
    .cont .userSection .sect .header{
      display: block;
      position: relative;
    }      

    .cont .userSection .sec .sect .review ul li{
      padding: 5%;
    }

    .cont .userSection .sect .header h5{
      margin-top: 2%;
    }
  }
  
  @media (min-width: 651px) and (max-width: 950px){
    .productContainer{
      display: block;
    }
    
    .productContainer .productData{
      width: 100%;
      margin-top: 20px;
    }

    .ppp{
      height: 75vh;
      width: 100%;
    }

    #cr{
      height: 100%;
      width: 100%;
    }

    #cr .like{
      top: 7%;
    }

    .products12 .productCont{
      width: 30%;
    }

    .products12 .productCont2{
      width: 30%;
    }

    .relatedProducts{
        padding-bottom: 8%;
    }

    .productContainer .productData .size .sizes label{
      width: 12%;
      height: 10%;
    }
    
    .cont .userSection .sec .sect .review ul li{
      padding:5%;
    }
  }
 
  @media (max-width: 350px) {
    
    .products12 .productCont{
        width: 80%;
    }
    
    .products12 .productCont2{
        width: 80%;
    }

    .relatedProducts{
        padding-bottom: 8%;
    }

    .products{
      height: 44%;
    }

    .productContainer .productData .size .sas{
      position: initial;
    }

    .productContainer .productData .size .guia {
      color: #d8d8d8d4;
      text-align: right;
      bottom: -25px;
      position: absolute;
      right: 0;
      font-size: smaller;
    }

    .productContainer .productData .button{
      margin-top: 15%;
    }
    

    .productContainer .productData .valoration .a{
      display: none;
    }

    .productContainer .productData .valoration .b{
      display: flex;
      width: 40px;
      margin-right: 5%;
      height: 40px;
      justify-content: center;
    }

    .productContainer .productData .valoration .b h4{
      font-size: 18px;
      font-weight: 600;
      color: black;
    }

    .productContainer .productData .valoration .b svg{
      width: 18px;
      height: 18px;
    }
  }
  @media (max-height: 600px){
    .productContainer .productData .size .sizes label{
      width: 10%;
      height: 18%;
    }
    .productContainer .productData .button{
      height: 19%;
    }
    .cont .userSection .sect{
      margin-bottom: 0;
    }
  }
  
